# Grafana Cloud Prometheus Configuration
PROMETHEUS_URL=https://prometheus-prod-37-prod-ap-southeast-1.grafana.net/api/prom
PROMETHEUS_USER=2718767
PROMETHEUS_PASSWORD=your_prometheus_api_key_here
GRAFANA_DATASOURCE_NAME=grafanacloud-dimakatsomoleli-prom
